@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2937;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.face {
  background: linear-gradient(160deg, #657CBD, #65A7B2 95%, #65BDB0);
}

